/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  /* background:
     url(../../assets/images/start-screen-background.jpg)
     top center / 100vw
     no-repeat;
     background-size: auto;        */
  margin: 0;
  box-sizing: border-box;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
  display: block;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h3 {
  font-family: var(--main-font-georgia);
  font-size: 35px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 2.1px;
  color: var(--section-title-col);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--main-font-color);
}

p {
  margin: 0;
}

button {
  background: var(--logo-color);
  font-family: var(--main-font-georgia);
  outline: none;
  border: 0;
  border-radius: 30px;
  padding: 15px;
  width: 207px;
  height: 52px;
  font-size: 1.1rem;
  letter-spacing: 0.8px;
}

:root {
  --main-bg-color: #fff;
  --main-bg-section-color: #f6f6f6;
  --main-font-color: #cdcdcd;
  --main-btn-font-col: #292929;
  --main-bg-section-col: #f6f6f6;
  --logo-color: #f1cdb3;
  --section-title-col: #545454;
  --section-text-col: #4c4c4c;
  --main-font-arial: Arial, Georgia, sans-serif;
  --main-font-georgia: Georgia, Arial, sans-serif;
}

.container {
  font-size: 15px;
  font-family: var(--main-font-arial);
}

/*hover effects*/

.nav_horizontal a:hover {
  border-bottom: 3px solid #f1cdb3;
}

button:hover {
  background: #fddcc4;
  cursor: pointer;
}

.contact_info a:hover {
  color: #fddcc4;
}

/*header*/

.wrapper {
  padding-top: 60px;
  max-width: 1280px;
  margin: 0 auto;
  background: var(--main-bg-color);
  position: sticky;
  top: 0;
  z-index: 100;
}

.wrapper_content {
  padding: 0 39px;
}

.header_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  font-family: var(--main-font-arial);
  padding-bottom: 60px;
}

.nav_horizontal {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
  display: flex;
  flex-wrap: wrap;
}

.nav_horizontal a {
  font-size: 15px;
  padding-bottom: 3px;
  color: var(--main-btn-font-col);
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo h1 {
  font-size: 2rem;
  font-weight: 400;
  font-family: var(--main-font-georgia);
  letter-spacing: 2.2px;
  padding-bottom: 0.6rem;
}

.logo p {
  font-size: 0.8rem;
  letter-spacing: 1.3px;
}

.active_element {
  border-bottom: 3px solid #f1cdb3;
  color: #fafafa;
}

.nav_horizontal li {
  padding-right: 36px;
}

.nav_horizontal li:last-child {
  padding-right: 0;
}

/* first section */

.first_section {
  padding: 80px 0 100px 0;
  background: var(--main-bg-section-col);
}

.first_section .wrapper {
  padding-top: 0;
  background: none;
  z-index: 1;
}

.first_section_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.first_section_title {
  margin-bottom: 45px;
}

.gallery {
  /* display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 75px;
  row-gap: 30px;
}

.gallery span {
  font-family: var(--main-font-georgia);
  font-size: 1.4rem;
  letter-spacing: 0.6%;
}

.gallery button {
  border: 2px solid var(--logo-color);
  background: none;
  width: 187px;
}

.gallery > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fafafa;
  height: 435px;
  justify-content: space-around;
}

.arrow_btn_block {
  display: flex;
  width: 340px;
  justify-content: space-between;
}

.arrow_btn button {
  border-radius: 100%;
  width: 52px;
  height: 52px;
  color: var(--main-btn-font-col);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--logo-color);
  background: none;
}

/* footer */

.footer {
  background: radial-gradient(
      110.67% 538.64% at 5.73% 50%,
      #513d2f 0%,
      #1a1a1c 100%
    ),
    #211f20;
}

.footer .wrapper {
  padding-top: 0;
  background: none;
  z-index: 1;
}

.footer_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 350px;
  flex-wrap: wrap;
}

.footer_content_left {
  height: 234px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer_content_right {
  height: 234px;
  width: 300px;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer_content h3 {
  color: var(--main-bg-color);
}

.contact_info {
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
}

.contact_info a {
  color: var(--logo-color);
  font-family: var(--main-font-georgia);
  letter-spacing: 1.3px;
  font-size: 20px;
  line-height: 1.15;
}

.footer_img {
  display: flex;
  align-self: flex-end;
}

@media only screen and (max-width: 768px) {
  .gallery {
    justify-content: space-evenly;
  }

  .footer .wrapper {
    height: auto;
  }

  .wrapper_content {
    padding: 0;
  }

  .footer .wrapper {
    padding: 3vh 39px 0;
  }

  .footer_content {
    height: auto;
  }

  .footer_content {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .footer_content_left {
    margin-bottom: 4vh;
    align-items: center;
  }

  .footer_content_right {
    margin-bottom: 4vh;
    align-items: center;
  }
}

@media only screen and (max-width: 320px) {
  h3 {
    font-size: 1.5rem;
  }

  .first_section {
    padding: 0px;
  }

  .arrow_btn_block {
    padding: 0 1.5rem;
  }

  .gallery {
    margin-bottom: 40px;
  }

  .contact_title h3 {
    font-size: 35px;
  }

  .content_title h3 {
    font-size: 35px;
  }

  .wrapper_content {
    padding: 40px 10px 30px 10px;
  }

  .footer {
    text-align: center;
    height: 115vh;
  }

  .footer_img {
    margin-top: 4.8rem;
  }
}
